[Desktop Entry]
Encoding=UTF-8
Exec=startxfce4
TryExec=startxfce4
Name=XFce4
Name[sv]=Xfce
Type=Application
Comment=The Cholesterol Free Desktop Environment, a desktop environment reminiscent of CDE
Comment[nl]=The Cholesterol Free Desktop Environment. Een desktop environment die herrinnert aan CDE
Comment[pl]=Cholesterol Free Desktop Environment to środowisko graficzne przypominające CDE
Comment[sr]=The Cholesterol Free Desktop Environment, радно окружење које подсећа на CDE
Comment[sv]=Den kolesterolfria skrivbordsmiljön, en skrivbordsmiljö som påminner om CDE
# vi: encoding=utf-8
